.react-datepicker-wrapper {
  display: block;
  width: 100%;
  margin: 0;
}

.react-datepicker__input-container input {
  display: 100%;
  padding: 8px 12px;
  box-sizing: border-box;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.6); /* стеклянный фон */
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  transition: all 0.2s ease-in-out;
}

.react-datepicker__input-container input:focus {
  outline: none;
  border-color: teal;
  box-shadow: 0 0 8px rgba(0, 128, 128, 0.3);
}

/* Calender */
.react-datepicker {
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(6px);
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 12px;
  padding: 3px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  font-family: "Inter", sans-serif;
  color: #08363d;
}

/* Month and arrows */
.react-datepicker__header {
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(4px);
  border-bottom: none;
  border-radius: 12px 12px 0 0;
}

.react-datepicker__current-month {
  font-weight: 600;
  color: #08363d;
}

.react-datepicker__navigation--previous,
.react-datepicker__navigation--next {
  top: 4px; /* смещение от верхнего края */
  width: 2rem; /* размер кнопки */
  height: 2rem;
  border-radius: 50%; /* круглая кнопка */
  background-color: rgba(255, 255, 255, 0.3);
  transition: all 0.2s ease-in-out;
  margin: 0;
}

.react-datepicker__navigation--previous {
  left: 8px; /* смещаем вправо относительно левого края */
}

.react-datepicker__navigation--next,
.react-datepicker__navigation--next--with-time:not(
    .react-datepicker__navigation--next--with-today-button
  ) {
  right: 94px; /* смещаем влево относительно правого края */
}

.react-datepicker__navigation--previous:hover,
.react-datepicker__navigation--next:hover {
  background-color: rgba(0, 128, 128, 0.3);
}

/* Days */
.react-datepicker__day {
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  border-radius: 6px;
  transition: all 0.2s;
}

.react-datepicker__day:hover {
  background-color: rgba(0, 128, 128, 0.3);
  color: #08363d;
}

.react-datepicker__day--selected {
  background-color: teal;
  color: #fff;
}

.react-datepicker__day--today {
  background-color: rgba(0, 128, 128, 0.3); /* мягкий акцент */
  color: #08363d; /* цвет текста */
  border-radius: 50%; /* круглое выделение */
  font-weight: 600;
}

.react-datepicker__day--today:hover {
  background-color: rgba(0, 128, 128, 0.5); /* чуть ярче при hover */
  color: teal;
}

/* Time */

.react-datepicker__time-container {
  backdrop-filter: blur(6px);
  border-left: 1px solid rgba(255, 255, 255, 0.4);
}

.react-datepicker__time-container .react-datepicker__time {
  padding: 10px;
  background: rgba(255, 255, 255, 0.25);
}

.react-datepicker__time-container
  .react-datepicker__time
  .react-datepicker__time-box {
  font-family: "Inter", sans-serif;
  color: #08363d;
}

.react-datepicker__time-container
  .react-datepicker__time
  .react-datepicker__time-box
  ul.react-datepicker__time-list {
  width: 80%;
}

.react-datepicker__time-container
  .react-datepicker__time
  .react-datepicker__time-box
  ul.react-datepicker__time-list
  li.react-datepicker__time-list-item:hover {
  color: #08363d;
}

/* .react-datepicker__time-box ul li:hover {
  background-color: rgba(0, 128, 128, 0.3);
  color: #08363d;
} */
/* 

